doctype html

html
  head
    script(src='/vendor/coffee-script.js')
    script(src='/vendor/angular.js')
    script(src='/vendor/socket.io.js')

    script(src='client.coffee', type='text/coffeescript')


  body(ng-app='chitchat')
    h1 chitchat

    div(ng-controller='ChitChat', ng-cloak='ng-cloak')

      div(ng-show='!isAuthenticated')
        a(href="/auth/google") Sign In with Google

      div(ng-show=' isAuthenticated')
        div Signed in as:
          b  {{me.displayName}}

        div(ng-show='!isConnected')
          | :-( disconnected
        div(ng-show=' isConnected')
          a(href="/auth/logout") Sign Out

        form(ng-submit='makeNewRoom()')
          | room:
          select(ng-model='roomName', ng-options='x for x in getRoomNames()')
            option(value='') -- new --
          input(type='text', ng-model='newRoomNameText', placeholder='room name', ng-show='!roomName')

        div(ng-show='roomName')
          form(ng-submit='sendMessage()')
            input(type='text', ng-model='messageText', placeholder='your message')
            input(type='submit', value='send', ng-disabled='!messageText')
          div
            ng-pluralize(
                count='getMessagesInSelectedRoom().length',
                when='{ "0": "The room is empty", "one": "1 message", "other": "{} messages"}' )
            ul
              li(ng-repeat='message in getMessagesInSelectedRoom()') {{message.body}}



  // allow coffeescript to convert before angular bootstraps
  script(type='text/coffeescript').
    angular.resumeBootstrap()
  script.
    window.name = 'NG_DEFER_BOOTSTRAP!'
